.container {
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin-top:.5rem;
    font-weight: 200;
    color: #034F84;
    text-transform: uppercase; 
}

p{
    font-size: 1.5rem;
    text-align: center;
}
.main-display {
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 60rem;
    overflow: scroll;
    padding-left: 6%;
    flex-direction: row;
}

.photo-item {
    float: left;
    margin: 0 auto;
    margin-left: 1rem;
}

.photo-item img {
    width: 30rem;
    height: 25rem;
}

nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #034F84;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
}

nav div {
    padding: 2rem;
}

nav div:hover {
    background-color: #91A8D0;
    color: white;
    cursor: pointer;
}

.item {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.3rem;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}

.item img {

    margin: 0 auto;
    max-width: 100%;
}
.about{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.left {
    /*background-color:#034F84;*/
    width: 50%;
    height: 43rem;
}
.left h1{
    font-size: 3rem;
    margin-top: 15rem;
}

.right {
    width: 50%;
    margin-left: 3rem;
    flex-direction: column;
    background-color: whiteSmoke;
}
.right h1, p{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.right div{
    margin:0 auto;
    margin-top: 3rem;
    width: 8rem;
    background-color:#034F84;
    text-align:center; 
    padding: .9rem;
}

.right a{ 
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
form{
    margin-top: 8rem;
}
input{
    margin-top: .5rem;
    margin-left: 3rem;
    width: 25rem;
    height: 3rem;
    text-transform: uppercase;
    border:solid #034F84 .1rem;
}
form .message{
    height: 10rem;
}

form button{
    margin-top: .3rem;
    width: 6rem;
    height: 3rem;
    margin-left: 22.3rem;
    background-color: #034F84;
    color: white;
}
